/* Chat-1 */
body {
	position: relative;
	width: 1280px;
	height: 832px;
	
	background: #160211;
	background-image: url("../img/background.png");
	}


.entrance_frame { /* Login overlay */
	
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	padding: 0px;
	
	position: absolute;
	width: 360px;
	height: 183px;
	left: 460px;
	top: 358px;
	
	background: #FFFFFF;
	border: 1px solid #160211;
	/* Shadow S
	
	Values in Figma are not same as in code due to different rendering of shadows
	*/
	box-shadow: 0px 3px 12px -1px rgba(28, 55, 90, 0.16), 0px 2px 4px -1px rgba(28, 55, 90, 0.16);
	border-radius: 8px;
	}

.title_logo { /* Frame 22 */
	
	/* Frame 22 */
	
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 18px;
	
	position: absolute;
	width: 409px;
	height: 159.72px;
	left: calc(50% - 409px / 2 - 0.5px);
	top: calc(50% - 159.72px / 2 - 178.14px);
	/* background-color: red; */
	
	}

p {font-family: Inter;
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 0;
	text-align: center;
	color: #FFFFFF;
	}

form {display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 18px
	
	}

label {
	width: 312px;
	height: 17px;
	font-family: Inter;
	color: #1B2B41B0;
	
	}

input {
	width: 312px;
	height: 36px;
	border: none;
	background: #E8EBEF;
	border-radius: 4px;
	
	}

.button {
	
	width: 312px;
	font-family: Inter;
	font-weight: 300;
	height: 36px;
	text-align: center;
	align-content: center;
	justify-content: center;
	color: #FFFFFF;
	background-color: #160211;
	border-radius: 3px;
	margin-bottom: 28px;
	/* padding-bottom: 8px; */
	}

.logo {width: 93px;
	height: 97px;
	align-content: center;
	align-content: center;
	/* background-image: url("../img/logo.png"); */
	}